html {
  background-color: #fff;
  color: #000;
}

/* Containers */

.content_container {
  padding-top: 40px;
}

/* Links */

a {
  color: #000;
}

/* Media Types */

/* Landscape phones and down */
@media (max-width: 480px) {
  .logo_container {
    top: 10px;
  }
}
