body {
  font: 13px Hack, monospace;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  padding-top: 500px;
}

.landing_container {
  width: 100%;
  height:100vh;
  position: relative;
  z-index: 0;
  background-color: #F00;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content_container {
  width: 100%;
  height: 5000px;
  position:relative;
  z-index: 10;
  background-color: #00F;
  background-repeat: no-repeat;
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}
