html {
  background-color: #000;
  color: #fff;
  line-height: 24pt;
  font-size: 20pt;
  height: 100%;
}

body {
  font-family: "MaisonNeue-Bold", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  height: 100%;
}

/* Containers */

.logo_container {
  position:fixed;
  z-index: 2;
  top: 60px;
  left: 5%;
}

.contact_container {
  position:fixed;
  z-index: 3;
  top: 60px;
  right: 5%;
}

.landing_container {
  position: relative;
  height: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  background-image: url('../images/thomaspaulmann.jpg');
}

.content_container {
  position: relative;
  z-index: 1;
  width: 90%;
  left: 5%;
}

.footer_container {
  position: relative;
  z-index: 1;
  width: 90%;
  left: 5%;
  background: #000;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: right;
}

#fade_out {
  position: relative;
  height: 60px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0, 1));
}

#content {
  position: relative;
  background: #000;
}

/* Headlines */

h1 {
  line-height: 26pt;
  font-size: 22pt;
}

h2 {
  text-align: center;
  padding-top: 500px;
}

/* Links */

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}

a:hover {
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}

.footer_container a {
  color: #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}

.footer_container a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}

/* Paragraphs */

p {
  padding-top: 20px;
}

/* SVGs */

.arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  height: 30px;
  width: 60px;
  margin-left: -30px;
  margin-top: -30px;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}

.arrow:hover {
  transform: scale(1.2, 1.2);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}

/* Media Types */

/* Landscape phones and down */
@media (max-width: 480px) {
  .logo_container {
    top: 30px;
  }

  .footer_container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #fade_out {
    height: 30px;
  }
}

/* Large desktop */
@media screen and (min-width:1300px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }
}
