html {
  background-color: #000;
  color: #fff;
}

body {
  font-family: "MaisonNeue-Bold", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* Containers */

.logo_container {
  position:fixed;
  z-index: 2;
  top: 60px;
  left: 5%;
}

.landing_container {
  position: relative;
  height: 100vh;
  z-index: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  background-image: url('../images/thomaspaulmann.jpg');
}

.content_container {
  position: relative;
  z-index: 1;
  width: 90%;
  left: 5%;
}

#fade_out {
  position: relative;
  height: 100px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0, 1));
}

#content {
  position: relative;
  background: #000;
  padding-bottom: 60px;
}

/* Headlines */

h1 {
  line-height: 26pt;
  font-size: 22pt;
  opacity: 0.95;

}

h2 {
  text-align: center;
  padding-top: 500px;
}

/* Links */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Paragraphs */

p {
  padding-top: 20px;
  line-height: 24pt;
  font-size: 20pt;
  opacity: 0.95;
}

/* Media Types */

/* Landscape phones and down */
@media (max-width: 480px) {
  .logo_container {
    top: 30px;
  }
}

/* Large desktop */
@media screen and (min-width:1300px) {
  body {
    width: 1024px;
    margin: 0 auto;
  }
}
